<%= javascript_include_tag "youtube_player" %>
<div id="newForm">
  <div id="loadFormContainer">
    <div id="loadForm">
      <input id="youtubeUrl" class="formText" type="text" name="youtubeUrl" placeholder="http://www.youtube.com/watch?v=YOUTUBE_ID">
      <input id="startTime" class="formText" type="text" name="startTime" placeholder="start [0:00]">
      <input id="endTime" class="formText" type="text" name="endTime" placeholder="end [0:00]">
      <a id="loadButton" class="greenButton" href="#">Play</a>
    </div>
  </div>
  <div id="notification"> </div>
  <iframe id="createVideoPlayer" type="text/html" width="780px" height="380px" frameborder="0" ></iframe>
  <div id="uploadFormContainer">
    <div id="uploadForm">
      <input id="title" class="formText" type="text" name="startTime" placeholder="Short Description*">
      <input id="movieName" class="formText" type="text" name="startTime" placeholder="Movie Name*">
      <input id="actorName" class="formText" type="text" name="endTime" placeholder="Actor Name">
      <a id="uploadButton" class="greenButton" href="#">Save</a>
    </div>
  </div>
</div>
