	<div style="text-align: center;" id="showPlayerContainer">
        <iframe id="theVideo" class="youtube-player" type="text/html" width="100%" height="100%" src="<%= @video.embed_url %>" frameborder="0" allowfullscreen="true"></iframe>
        </div>
