<html>
<head>
    <meta property="og:site_name" content="Dark Onyx - Clips">
    <meta property="og:url" content="http://54.225.183.18:3000/video.html">
    <meta property="og:title" content="How 300 Should Have Ended">
    <meta property="og:type" content="video">
    <meta property="og:image" content="https://img.youtube.com/vi/PYVuiDgCNho/0.jpg">

    <meta property="og:video"
          content="https://www.youtube.com/v/PYVuiDgCNho?start=6&end=20&autoplay=1&controls=0&showinfo=0&iv_load_policy=3&rel=0&modestBranding=1&version=3&enablejsapi=1&origin=darkonyx.com&wmode=opaque">
    <meta property="og:video:type" content="application/x-shockwave-flash">

    <meta property="og:video"
          content="https://www.youtube.com/embed/PYVuiDgCNho?start=6&end=20&autoplay=1&controls=0&showinfo=0&iv_load_policy=3&rel=0&modestBranding=1&version=3&enablejsapi=1&origin=darkonyx.com&wmode=opaque">
    <meta property="og:video:type" content="video/mp4">
</head>
<body>
	<div style="text-align: center;">
	<%= @video_id %>
        <iframe id="theVideo" class="youtube-player" type="text/html" width="80%" height="80%"
                src="https://www.youtube.com/embed/PYVuiDgCNho?start=6&end=20&autoplay=1&controls=0&showinfo=0&iv_load_policy=3&rel=0&modestBranding=1&version=3&enablejsapi=1&origin=darkonyx.com&wmode=opaque"
                frameborder="0" allowfullscreen="true"></iframe>

        </div>
</body>
</html>
