<div class="videoContainer">
  <div class="vImageContainer">
    <img class="vImage" src ="https://img.youtube.com/vi/<%= v_quote.youtubeId %>/0.jpg" data-id="<%= v_quote.id %>"  data-youtubeId="<%= v_quote.youtubeId %>" data-start="<%= v_quote.vStart %>" data-end="<%= v_quote.vEnd %>" data-title="<%= v_quote.vTitle %>" data-mName="<%= v_quote.movieName %>" data-aName="<%= v_quote.actorName %>">
  </div>
  <div class="vInfoContainer"  data-id="<%= v_quote.id %>" data-youtubeId="<%= v_quote.youtubeId %>" data-start="<%= v_quote.vStart %>" data-end="<%= v_quote.vEnd %>" data-title="<%= v_quote.vTitle %>" data-mName="<%= v_quote.movieName %>" data-aName="<%= v_quote.actorName %>">
    <div class="vInfoTitle" >
      <%= v_quote.vTitle %>
    </div>
    <div class="vInfoOther" >
      <%= v_quote.movieName %>
    </div>
  </div>
</div>
