<%= javascript_include_tag "viewer" %>
<script>
      function onYouTubeIframeAPIReady() {
        window.viewerPlayer = new YT.Player("viewerPlayer", {
          height: '100%',
          width: '100%',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });

      }

      function onPlayerReady(event) {
        var loadVideo = $("#loadVideo")[0];
        if (typeof loadVideo !== "undefined") {
          var $loadVideo = $(loadVideo);
          var data = {
            'id' : $loadVideo.data("id"),
            'youtubeId' :  $loadVideo.data("youtubeid"),
            'start' : $loadVideo.data("start"),
            'end' : $loadVideo.data("end"),
            'title' : $loadVideo.data("title"),
            'mName' : $loadVideo.data("mname"),
            'aName' : $loadVideo.data("aname"),
            'suggestedQuality': 'large'
          };
          $("#viewer").viewer("loadVideo", data);
        } else {
          $("#infoContainer").hide();
        }
      }

      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
</script>

<div id="viewer">
  <div id="playerContainer">
    <div id="viewerPlayer"></div>
  </div>
  <div id="infoContainer" style="display:none">
    <div id="copyLinkLabel" class="viewerText" >Copy paste this link</div>
    <input id="copyLink" class = "formText" value="" />
    <div id="quoteInfo">
      <div id="quoteTitle" class="viewerText" ></div>
      <div id="quoteMovie"  class="viewerText"></div>
      <div id="quoteActor"  class="viewerText"></div>
    </div>

  </div>
</div>
