<div id="searchDiv" >
    <input type="text" id="searchBox" placeholder="Movie Name" />
  </div>
<div id="gallery">
  <%= render "gallery" %>
</div>
<%= render "viewer" %>
<% if @loadVideo %>
 <div id="loadVideo"  data-id="<%= @loadVideo.id %>" data-youtubeid="<%= @loadVideo.youtubeId %>" data-start="<%= @loadVideo.vStart %>" data-end="<%= @loadVideo.vEnd %>" data-title="<%= @loadVideo.vTitle %>" data-mname="<%= @loadVideo.movieName %>" data-aname="<%= @loadVideo.actorName %>">
<% end %>
