#gallery {
  left: 540px;
  position: absolute;
  margin: 140px 0 50px 0;
}

#galleryContainer {
}

.videoContainer {
  width: 250px;
  height: 170px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  float: left;
}

.vImageContainer {
  width: 250px;
  height: 170px;
  overflow: hidden;
}

.vInfoContainer {
  width: 250px;
  height: 170px;
  position: relative;
  top: -170px;
  cursor: pointer;  
}

.vInfoTitle {
  color: #FFFFFF;
  padding: 5px;
  font-size: 13px;
  background: rgba(0,0,0,0.6);
  height: 32px;
}

.vInfoOther {
  color: #FFFFFF;
  padding: 5px;
  font-size: 13px;
  background: rgba(0,0,0,0.6);
  height: 32px;
  position: relative;
  top: 86px;
}

.vImage {
  cursor: pointer;
  width: 480px;
  position: relative;
  top: -75px;
  left: -100px;
}