html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family:  Arial, Helvetica, sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}

#header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  vertical-align: middle;
  line-height: 60px;
  background: #F1F1F1;
  border-bottom: 1px solid #E5E5E5;
}

#logoContainer {
  float: left;
  height: 60px;
  margin-left: 20px;
}

#logoTitle {
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  vertical-align: middle;
}

#logoSubTitle {
  vertical-align: bottom;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  display: block;
  color: #999999;
  margin-left: 5px;
}

#user_nav {
  float: right;
  padding: 0 10px;
  color: #aaaaaa;
  font-size: 13px;
}

.navLinks {
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
  text-decoration: none;
  vertical-align: middle;
  color: #666666;
  width: 40px;
}

.navLinks:hover {
  font-size: 16px;
}

.navLinks:active {
  color: #666666;
}

.navLinks:visited {
  color: #666666;
}

.headerText {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

#user_name {
  vertical-align: middle;
  display: inline-block;
}

#footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #FFFFFF;
  background: #F1F1F1;
  border-top: 1px solid #E5E5E5;
}

#searchDiv {
	position: fixed;
	left: 540px;
	top: 61px;	
	width: 100%;
	padding: 0 0 10px 0;
	background: #FFFFFF;
	z-index: 100;
}

#searchBox {
    background: none repeat scroll 0 0 #333333;
    border: 0 none;
    color: #CCCCCC;
    font-size: 19px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    width: 700px;
}

#createButton {
	margin: 0 20px;
	vertical-align: middle;
}

#signInButton {
  width: 180px;
}

#signOutButton {
  vertical-align: middle;
  width: 20px;
  height: 16px;
  display: inline-block;
  background: url('signout_20.png') no-repeat;
}

.greenButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e6b25), color-stop(1, #26572f) );
	background:-moz-linear-gradient( center top, #2e6b25 5%, #26572f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e6b25', endColorstr='#26572f');
	background-color:#2e6b25;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #325c24;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:150px;
	text-decoration:none;
	text-align:center;
}
.greenButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #26572f), color-stop(1, #2e6b25) );
	background:-moz-linear-gradient( center top, #26572f 5%, #2e6b25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26572f', endColorstr='#2e6b25');
	background-color:#26572f;
}
.greenButton:active {
	position:relative;
	top:1px;
}

#showPlayerContainer {
  width: 100%;
  height: 100%;
}

.fb-like {
   height: 25px;
   line-height: 25px;
   overflow: hidden;
   vertical-align: middle;
   width: 400px;
}
