#createVideoPlayer {
  background: black;
  width: 780px;
  margin: 0 10px;
}

#youtubeUrl {
  width: 400px;
  display: inline-block;
  margin-left: 10px;
}

#startTime {
  width: 110px;  
  display: inline-block;
  margin-left: 10px;
}


#endTime {  
  width: 110px;
  display: inline-block;
  margin-left: 10px;
}

#notification {
  visibility: hidden;
  margin: 0 10px;
  vertical-align: middle;
  color: #FF0000;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
}

.formText {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  color: #666666;
  font-size: 17px;
  height: 30px;
  padding-left: 5px;
}

#newForm {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;  
}

#loadFormContainer{
  display: inline-block; 
  margin: 10px 0;
}

#loadForm {
  display: inline-block;
}

#loadButtonContainer {
  display: inline-block;  
}

.button {
  width: 115px;
  height: 30px;
  display: inline-block;
  -moz-box-shadow:inset 0px 1px 0px -3px #2e082e;
  -webkit-box-shadow:inset 0px 1px 0px -3px #2e082e;
  box-shadow:inset 0px 1px 0px -3px #2e082e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d96d32), color-stop(1, #a6312d) );
  background:-moz-linear-gradient( center top, #d96d32 5%, #a6312d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d96d32', endColorstr='#a6312d');
  background-color:#d96d32;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
  text-indent:0px;
  display:inline-block;
  color:#fafafa;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  font-style:normal;
  line-height:30px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 28px #805380;
  margin-left: 10px;
  vertical-align: top;
  
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a6312d), color-stop(1, #d96d32) );
  background:-moz-linear-gradient( center top, #a6312d 5%, #d96d32 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6312d', endColorstr='#d96d32');
  background-color:#a6312d;
}

.button:active {
  position:relative;
  top:1px;
}

#title {
  width: 780px;
  display: block;  
}

#movieName {
  width: 780px;
  display: block;
  margin-right: 10px;
  margin-top: 10px;
}

#charName {  
  width: 780px;
  display: block;
  margin-right: 10px;
  margin-top: 10px;
}

#actorName {
  height: 30px;
  width: 534px;
  display: block;
  margin-top: 10px;
}

#uploadFormContainer{
  margin: 10px 0px;  
}

#uploadForm {
  display: inline-block;
  margin: 0 10px;
}

#uploadButtonContainer {
  display: inline-block;
  float: right;
}

#uploadButton {
  width: 100px;
  height: 40px;
  margin: 20px 0px;
  line-height: 40px;
  vertical-align: bottom;
}

#loadButton {
  background: none repeat scroll 0 0 #E5E5E5;
  border: 1px solid #E5E5E5;
  color: #666666;
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  width: 100px;
  margin-left: 15px;
}
