#viewer {
  width: 500px;
  height: 100%;
  margin: 20px;
  position: fixed;
  top: 60px;
  color: white;
  z-index: 1;
}

#playerContainer {
  width: 500px;
  height: 400px;
}

#infoContainer {
  margin: 20px 0 10px 0px;
}

#copyLink {
  padding: 0px;
  font-size: 20px;
  width: 100%;
}

.viewerText {
  color : #AAAAAA;
  padding: 0px;
  font-size: 13px;
}

#quoteInfo {
  margin-top: 30px;
}

#quoteMovie {
  margin-top: 20px;
  color: #666666;
  font-size: 14px;

}
