<!DOCTYPE html>
<html>
<head>
  <title>VQuoto</title>
  <link rel="shortcut icon" href="/assets/logo.ico">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery_min" %>
  <%= javascript_include_tag "facebook" %>
  <%= javascript_include_tag "v_quote" %>
  <%= javascript_include_tag "gallery" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
  <!--
  <meta property="og:site_name" content="VQuoto">
  <meta property="og:url" content="http://www.vquoto.com">
  <meta property="fb:app_id" content="1377638272475800"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="VQuoto"/>
  -->
  <meta property="og:site_name" content="VQuoto">

  <% if @video %>
  <meta property="og:title" content="<%= @video.vTitle %>">
  <meta property="og:type" content="video.movie">
  <meta property="og:image" content="<%= @video.image_url %>">
  <meta name="description" content="<%= @video.movieName %> - <%= @video.actorName %>">
  <meta property="og:description" content="VQuoto - make your posts entertaining!">
  <meta property="og:video" content="<%= @video.sliced_url %>">
  <meta property="og:video:type" content="application/x-shockwave-flash">
  <meta property="og:video" content="<%= @video.embed_url %>">
  <meta property="og:video:type" content="video/mp4">
  <% end %>
</head>
<body>
  <div id="fb-root"></div>
  <div id="container">
    <div id="header">
      <div id="logoContainer">
        <a id="logoTitle">VQuoto</a>
        <div class="fb-like navLinks" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="false" data-send="false"></div>
      </div>
  <div id="user_nav">
    
    <% if current_user %>
      <a id="createButton" class="greenButton" href="/new">CREATE A QUOTE</a>
      <a id="myhome" class="navLinks" href="/">Home</a>
      <a id="mySlices" class="navLinks" href="/mine ">Mine</a>
      <div id="user_name"><%= current_user.name %></div>
      <a id="signOutButton" href=<%=signout_path %> ></a>
    <% else %>    	
      <div class="headerText">To create a new quote, </div>
      <a href="/auth/facebook" id="signInButton" class="greenButton" >LOGIN WITH FACEBOOK</a>
      
    <% end %>
  </div>
  
 
  </div>

  <%= yield %>



</div>

</body>
</html>
